body {
  background-image: url("https://i.pinimg.com/originals/9b/c9/8f/9bc98f55db5737c6b9601ea215f14467.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#titulo {
  text-align: center;
  border: 3px solid red;
  color: white;
}
.hero {
  height: 600px;
  width: auto;
  align-items: center;
}
#imagen {
  display: block;
  margin: auto;
  height: 600px;
}
#preguntas {
  text-align: center;
  margin-bottom: 80px;
  display: none;
  color: white;
  font-size: larger;
}
#cuadro-jugadores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.player1 {
  width: 600px;
  border: 1px solid red;
  display: none;
  color: white;
}
.player2 {
  width: 600px;
  border: 1px solid black;
  display: none;
}

.opciones {
  width: 580px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.op {
  border: 2px solid black;
  width: 140px;
  height: 50px;
  text-align: center;
}
.player-score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.splash {
  text-align: center;
  font-size: larger;
  color: white;
}
#inicio {
  margin: 30px;
}
#coverImg {
  width: 500px;
}
.gameOver {
  height: 600 px;
}
#coverImgOver {
  width: max-content;
  text-align: center;
  display: none;
}
